
DummyPrj.xcodeproj/xcuserdata/Armz.xcuserdatad/xcschemes/xcschememanagement.plist

DummyPrj.xcodeproj/xcuserdata/Armz.xcuserdatad/xcschemes/DummyPrj.xcscheme

DummyPrj.xcodeproj/project.xcworkspace/xcuserdata/Armz.xcuserdatad/UserInterfaceState.xcuserstate
